- @videos.each do |video|
  = react_component('Video',
    thumbnailUrl: video.thumbnail_url,
    title: video.title,
    linkYt: link_to_yt(video.yt_id),
    channelTitle: video.channel_title,
    userSignedIn: user_signed_in?,
    isAdmin: user_signed_in? ? current_user.has_role?("admin") : false,
    videoPath: video_path(video))
