// infinite scroll
#infscr-loading {
  z-index: 100;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  bottom: 50%;
  position: fixed;
  img {
    text-align: center;
    display : block;
    margin : 1em auto;
  }
}
