.scrollup {
  position: fixed;
  bottom: 100px;
  right: 100px;
  display: none;
}

@media screen and (min-width: 320px) {
	.scrollup {
		bottom: 90px;
	  right: 15px;
	}
}

@media screen and (min-width: 768px) {
	.scrollup {
		bottom: 90px;
	  right: 34px;
	}
}

@media screen and (min-width: 1024px) {
	.scrollup {
		bottom: 100px;
  	right: 100px;
	}
}