.videos {
	.page-header {
		font-weight: normal;
	}

  .video-link {
    h4 {
      font-weight: bold;
      font-size: 14px;
      color: #3c424a;
    }
  }

  .video-remove {
    position: absolute;
    right: 10px;
    z-index: 999;
    display: inline-block;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
  background-color: #000;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}