// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fancybox-nav {
  width: 60px;
}

.fancybox-nav span {
  visibility: visible;
}

.fancybox-next {
  right: -60px;
}

.fancybox-prev {
  left: -60px;
}

.box-section {
	a {
		font-family: Arial;
		font-weight: bold;
		font-size: 12px;
		color: #3c424a;
		&:hover {
			text-decoration: none;
		}
	}
}

.videos {
	.page-header {
		font-weight: normal;
	}
}