.videos {
	.page-header {
		font-weight: normal;
	}

  h4 {
    a {
      font-weight: bold;
      font-size: 14px;
      color: #3c424a;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .video {
    padding-bottom: 20px;
  }
}

.box-section {
	h4 {margin-bottom: 0;}
	a {
		font-weight: bold;
		font-size: 14px;
		color: #3c424a;
		&:hover {
			text-decoration: none;
		}
	}

	.channel-title {
		font-size: 11px;
	}
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
  background-color: #000;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}